body {
  background: linear-gradient(to right, #8041D9, #D1B2FF);
}

.header h1 {
  text-align: center;
  color: #fff;
}

.form-container {
  text-align: center;
  position: relative;
  margin-left: 40px;
}

.form-container * {
  vertical-align: middle;
}

.todo-writer {
  width: 450px;
  height: 40px;
  font-size: 2rem;
}

/* .add-todo-btn {
  background-color: transparent;
  color: #A566FF;
  font-size: 2.3rem;
  position: absolute;
  right: 41%;
  top: 50%;
  transform: translateY(-50%);
} */

.select-status {
  color: #A566FF;
  height: 30px;
}

.todo-items {
  width: 530px;
  list-style: none;
  margin: 15px auto;
}

.todo-items li {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  padding: 5px;
  background-color: #fff;
  margin-bottom: 10px;
}

.todo-items li span {
  flex-grow: 1;
}

.todo-items li button, .todo-items li label {
  font-size: 2.2rem;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-items li .fa-check {
  color: #FFF;
  background-color: #0BC904;
  margin-right: 5px;
}

.todo-items li .fa-trash-alt {
  color: #FFF;
  background-color: red;
}